<included>

    <statusListener class="net.happyonroad.util.LogbackSilentStatusListener" />

    <jmxConfigurator/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %-15class{0} - %msg%n</pattern>
        </encoder>
    </appender>


    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="/" level="WARN"/>
    <logger name="ch.qos.logback" level="ERROR"/>
    <logger name="org" level="WARN"/>
    <logger name="com" level="WARN"/>
    <logger name="net" level="WARN"/>
    <logger name="DataNucleus" level="WARN"/>
    <logger name="org.apache" level="INFO"/>
    <logger name="org.apache.commons.httpclient" level="ERROR"/>
    <logger name="net.sf.oval.internal" level="ERROR"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="com.mchange.v2" level="ERROR"/>
    <logger name="com.mchange.v2.resourcepool.BasicResourcePool" level="ERROR"/>
    <logger name="com.mchange.v2.c3p0" level="ERROR"/>
    
    <logger name="net.happyonroad" level="INFO"/>
    <logger name="net.happyonroad.spring" level="WARN"/>
    <logger name="net.happyonroad.component.container.support" level="WARN" />
    <logger name="net.happyonroad.platform.repository.support.MybatisRepositoryScanner" level="ERROR" />
    <logger name="net.happyonroad.platform.web.support.ExtendedRequestMappingHandlerMapping" level="WARN" />
    <logger name="net.happyonroad.platform.services.MybatisFeatureResolver" level="WARN" />
    <logger name="net.happyonroad.platform.services.SpringMvcFeatureResolver" level="WARN" />
    <logger name="net.happyonroad.spring.service.SpringServicePackage" level="WARN" />
    <logger name="net.happyonroad.component.container.support.DefaultServiceRegistry" level="WARN" />
</included>
